<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Temperatura média do primeiro mês: {{ this.verifica(this.temp1) }}ºC</ion-label>
  </ion-item>
  <ion-item>
    <ion-range min="1" max="40" step="1"
    [(ngModel)]="temp1"></ion-range>
  </ion-item>

  <ion-item>
    <ion-label>Temperatura média do segundo mês: {{ this.verifica(this.temp2) }}ºC</ion-label>
  </ion-item>
  <ion-item>
    <ion-range min="1" max="40" step="1"
    [(ngModel)]="temp2"></ion-range>
  </ion-item>

  <ion-item>
    <ion-label>Temperatura média do terceiro mês: {{ this.verifica(this.temp3) }}ºC</ion-label>
  </ion-item>
  <ion-item>
    <ion-range min="1" max="40" step="1"
    [(ngModel)]="temp3"></ion-range>
  </ion-item>

  <ion-item>
    <ion-label>Temperatura média do quarto mês: {{ this.verifica(this.temp4) }}ºC</ion-label>
  </ion-item>
  <ion-item>
    <ion-range min="1" max="40" step="1"
    [(ngModel)]="temp4"></ion-range>
  </ion-item>

  <ion-item>
    <ion-button (click)="mudaTela()">Ver as frutas</ion-button>
  </ion-item>


</ion-content>
